* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#app {
  background: #fafafa;
  height: 100vh;
  overflow: auto;
}

ul {
  list-style: none;
}

.main-width {
  width: 1092px;
  margin: 0 auto;
}